.user_container{
    margin-top: 20px;
}
.user_container .heading{
    background-color: green;
    display: block;
    width: 400px;
    text-align: center;
    color: white;
    font-size: 30px;
}
.user_container h3, h4{
    margin-top: 10px;
}